* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-family);    
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy.ttf') format('truetype');         
}

:root{

    /* Configurações das cores */

    --color-primary: #00A000;
    --color-black: #000001;
    --color-grey: #666667;
    --color-grey-back: #fafafa;
    --color-white: #FFFFFF;
    --color-BG-Overlay: #FAFAFA;
   
    /* Configurações de Fontes */
    --font-family: "Gilroy";


    --font-SemiBold-0-size: 12px;
    --font-SemiBold-0-weight: 550;
    --font-SemiBold-1-size: 16px;
    --font-SemiBold-1-weight: 600;
    --font-SemiBold-2-size: 18px;
    --font-SemiBold-2-weight: 700;
    --font-SemiBold-3-size: 20px;
    --font-SemiBold-3-weight: 800;
    --font-SemiBold-4-size: 25px;
    --font-SemiBold-4-weight: 900;
    --font-SemiBold-5-size: 50px;
    --font-SemiBold-5-weight: 1000;
    --font-headline-1size: 60px;
    --font-headline-1-weight: 800;
    --font-headline-2size: 80px;
    --font-headline-2-weight: 900;    
    --font-headline-3size: 100px;
    --font-headline-3-weight: 1000;
    
    
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--color-primary);
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 10px;
    align-self: flex-start; /*aqui foi adicionado por causa do botão, mas ele não preencher o espaço completamente*/

}
.btn-primary a{
    color: var(--color-white);
    font-size: var(--font-SemiBold-1-size);
    font-weight: var(--font-SemiBold-1-weight);
    
}

.btn-secondary {
    padding: 16px 32px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--color-primary);
    background-color: var(--color-white);
}

.btn-secondary a {
    color: var(--color-primary);
    font-size: var(--font-SemiBold-1-size);
    font-weight: var(--font-SemiBold-1-weight);
}

.nav-header .active-menu {
    color: var(--color-primary);
    font-size: var(--font-SemiBold-1-size);
    font-weight: var(--font-SemiBold-1-weight);

}
