/* Importar as variaveis  */
@import url('./global.css');  

/*-- ------------ HEADER ---------- --*/
body {
    background-color: var(--color-white);
}

header{
    display: flex;
    justify-content: space-around; /* Horizontal | mantem o tamanho nas laterais */
    align-items: center; /* Vertical */
    padding: 40px 0px;
    background-color: var(--color-white);
    border: 1.5px solid var(--color-black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.nav-header ul{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav-header a {
    font-size: var(--font-SemiBold-1-size);
    font-weight: var(--font-SemiBold-1-weight);
    color: var(--color-grey);
}


.container-btn-header{
    display: flex;
    gap: 14px;
}
.container-btn-header button{
    padding: 16px 32px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--color-primary);
    background-color: var(--color-white);

}

.container-btn-header a{
    color: var(--color-primary);
    font-size: var(--font-SemiBold-2-size);
    font-weight: var(--font-SemiBold-1-weight);


}

.container-btn-header-img-carrinho{
    margin-right: 16px;
}

/*-- ------------ FIM HEADER ---------- --*/
/*-- ------------  MAIN ---------- --*/

.container-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 100px;
    
}
.conteiner-main-content-know-products {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 563px;
    height: 391px;
    padding: 0px 124px 0px 0px;
}

.conteiner-main-content-know-products h1{
    font-size: var(--font-headline-1size);
    font-weight: var(--font-headline-1-weight);

}

.conteiner-main-content-know-products p {
    font-size: var(--font-SemiBold-2-size);
    font-weight: var(--font-SemiBold-0-weight);
    color: var(--color-grey);
    line-height: 1.6;
    
}

.conteiner-main-content-know-products span{
    color: var(--color-primary);
}

.conteiner-main-content-buttons {
    display: flex;
    justify-content: left;
    gap: 24px;
}


/*-- ------------  FIM MAIN ---------- --*/

/*-- ------------  CHOOSE US ---------- --*/
.section-choose-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: var(--color-grey-back);
    text-align: center;
}

.section-choose-us p{
    margin-top: 8px;
}

.container-choose-us {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-choose-us p {
    width: 242px;
}

.container-choose-us-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.container-choose-us-headline h2{
    display: flex;
    font-size: var(--font-headline-1size);
    font-weight: var(--font-headline-3-weight);
}

.container-choose-us-headline p{
    color: var(--color-grey);
    font-size: var(--font-SemiBold-2-size);
}

.container-choose-us-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 339px;
}

.container-choose-us-numbers {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 60px;
    /* margin-bottom: 100px; */
}

.container-choose-us-numbers-quantify {
    width: 400px;
    height: 87px;
}

.container-choose-us-numbers-quantify h3 {
    font-size: var(--font-SemiBold-5-size);
    font-weight: var(--font-SemiBold-5-weight);
}


/*-- ------------  CHOOSE US ---------- --*/

/* ------------ SPECIAL DISHES FOR YOU ------------ */
.section-special-dishes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: var(--color-white);
    text-align: center;
}

.section-special-dishes p{
    margin-top: 8px;
}

.container-special-dishes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-special-dishes p {
    width: 242px;
}

.container-special-dishes-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.container-special-dishes-headline h2{
    display: flex;
    font-size: var(--font-headline-1size);
    font-weight: var(--font-headline-3-weight);
}

.container-special-dishes-headline p{
    color: var(--color-grey);
    font-size: var(--font-SemiBold-2-size);
}

.container-special-dishes-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 339px;
}

/* ------------ OUR CLIENTS ------------ */

.section-our-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: var(--color-grey-back);
    text-align: center;
}

.section-our-clients p{
    margin-top: 8px;
}

.container-our-clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-our-clients p {
    width: 319px;
    height: 105px;
}

.container-our-clients-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.container-our-clients-headline h2{
    display: flex;
    font-size: var(--font-headline-1size);
    font-weight: var(--font-headline-3-weight);
}

.container-our-clients-headline p{
    color: var(--color-grey);
    font-size: var(--font-SemiBold-2-size);
}

.container-our-clients-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 339px;
    background-color: var(--color-white);
    margin-right: 21px;
    border-radius: 15px;
}

.container-our-clients-cards img {
    margin-bottom: 24px;
}

.container-our-clients-cards h3{
    margin-bottom: 8px;
}

/* ------------ FIM OUR CLIENTS ------------ */

/* ------------ ABOUT US -------- */

.container-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 100px;
    
}
.conteiner-about-us-know-products {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 563px;
    height: 391px;
    padding: 0px 124px 0px 0px;
}

.conteiner-about-us-know-products h1{
    font-size: var(--font-headline-1size);
    font-weight: var(--font-headline-1-weight);

}

.conteiner-about-us-know-products p {
    font-size: var(--font-SemiBold-2-size);
    font-weight: var(--font-SemiBold-0-weight);
    color: var(--color-grey);
    line-height: 1.6;
    
}

.conteiner-about-us-know-products span{
    color: var(--color-primary);
}

.conteiner-about-us-buttons {
    display: flex;
    justify-content: left;
    gap: 24px;
}



/* ------------ FIM ABOUT US ------------ */

/* ------------ SUBSCRIBE ------------ */


.section-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: var(--color-grey-back);
    text-align: center;
}

.section-subscribe p{
    margin-top: 8px;
}

.container-subscribe-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.container-subscribe-headline h2{
    display: flex;
    font-size: var(--font-headline-1size);
    font-weight: var(--font-headline-3-weight);
}

.container-subscribe-headline p{
    color: var(--color-grey);
    font-size: var(--font-SemiBold-2-size);
}

.container-subscribe-headline-form form {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    border: 2px solid var(--color-grey-form);
    border-radius: 8px;
    width: 710px;
    height: 77px;
}

.container-subscribe-headline-form form input {
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px 0px 0px 8px;
    outline: none;
    width: 690px;
    color: var(--color-grey);
    font-size: var(--font-SemiBold-3-size);
    font-weight: var(--font-SemiBold-3-weight);
    
}

.container-subscribe-headline-form form input::placeholder {
    color: var(--color-grey2);
    font-size: var(--font-SemiBold-3-size);
    font-weight: var(--font-SemiBold-3-weight);

}

.container-subscribe-headline-form form button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    transition: 0.3s;    
}

.container-subscribe-headline-form form button:hover {
    background-color: var(--color-primary);
}

/* ------------ FIM SUBSCRIBE ------------ */

/*-- ----------- RODAPÉ ---------- --*/

footer {
    display: flex;
    justify-content: center;
    /* gap: 269px; */
    padding: 64px 0px;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.copyright-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-socials {
    display: flex;
    gap: 16px;
}

.social-icon {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 7.47px;
    border-radius: 100%;
    transition: 0.3s;
}
.social-icon a {
    display: flex;
}

.social-icon:hover {
    background-color: var(--color-primary);
    transform: translateY(-5px);
}

.footer-navigation {
    display: flex;
    gap: 260px;
}

.foot-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.foot-container h2 {
    color: var(--color-netral-white);
    font-size: var(--font-headline-4-size);
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: var(--font-body3-size);
}

.footer-item {
    text-decoration: none;
    color: var(--color-netral-silver);
    transition: 0.3s;
}

.footer-links li{
    transition: 0.3s;
}

.footer-links li:hover{
    transform: translateX(10px);
}

.footer-item:hover {
    color: var(--color-BG-HOVER);
    transform: translateX(10px);
}

.box-reserved {
    width: 200px; 
    border: 1.5px solid var(--color-black);
    box-sizing: border-box; 
  }

.copyright-reserved {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-top: 1px;
    padding: 16px 0px 80px 0px;
}

/* adiciona uma faixa branca de 80px acima do copyright */


/*-- ----------- FIM RODAPÉ ---------- --*/
