/* Importar as variaveis  */
@import url('./global.css');  

/*-- ------------ HEADER ---------- --*/
body {
    background-color: var(--color-white);
}

header{
    display: flex;
    justify-content: space-around; /* Horizontal | mantem o tamanho nas laterais */
    align-items: center; /* Vertical */
    padding: 22px 0px;
    background-color: var(--color-white);
}

.nav-header {
    display: flex;
    justify-content: center ;
}

.nav-header li {
    display: flex;
}